.socialMedia-wrapper {
  margin: 40px 0;
  padding: 90px 0;
  background: #1e283215;
}

.socialMedia-heading h3 {
  font-family: "Montserrat";
  font-size: 28px;
  text-transform: capitalize;
}

.socialMedia-post {
  position: relative;
}

.socialMedia-post img {
  width: 100%;
}

.socialMedia-post:hover::after {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  height: 100%;
}

.socialMedia-post::after {
  position: absolute;
  content: "";
  height: 30%;
  width: 100%;
  background: #000000b7;
  left: 0;
  top: 0;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.socialMedia-postInner {
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 32px;
  color: aliceblue;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  opacity: 0;
}

.socialMedia-post:hover .socialMedia-postInner {
  opacity: 1;
}

.instaNewsletter h3 {
  font-family: "Montserrat";
  font-size: 30px;
  text-transform: capitalize;
  color: #1e2832;
  margin-top: 40px;
}

.newsletter-input {
  margin: 40px 0;
}

.newsletter-input input {
  background: transparent;
  border: none;
  border-bottom: 2px solid #070707da;
  margin: 0 20px;
  font-family: "Montserrat";
  padding: 0 260px 5px 8px;
  outline: none;
}

.newsletter-input a {
  background: transparent;
  border-bottom: 2px solid #070707da;
  font-family: "Montserrat";
  padding: 0 10px;
  text-decoration: none;
  color: #1e2832;
}

.newsletter-input a:hover {
  color: #1e2832ce;
}